*#
nov-places
auto-save-list/
eshell/
server/
semanticdb/
*~
history
tramp
url/
*.proj
ac-comphist.dat
.emacs.desktop
.emacs.desktop.lock
*.elc
SessionDesktop.el
places
recentf
network-security.data
ido.last
image-dired/
projectile-bookmarks.eld
scratch.el
games/
archive-contents
__pycache__/
emms/
anaconda-mode/
.DS_Store
ede-projects.el
archive-contents.signed
elpa/archives
transient/
bookmarks
eln-cache/
elpa/
local.el
