[submodule "local/sunrise-commander"]
	path = local/sunrise-commander
	url = git@github.com:enzuru/sunrise-commander.git
[submodule "local/exwm"]
	path = local/exwm
	url = git@github.com:ch11ng/exwm.git
[submodule "local/xelb"]
	path = local/xelb
	url = git@github.com:ch11ng/xelb.git
[submodule "local/omtose-phellack-theme"]
	path = local/omtose-phellack-theme
	url = git@github.com:franksn/omtose-phellack-theme.git
[submodule "local/company-spell"]
	path = local/company-spell
	url = git@github.com:enzuru/company-spell.git
[submodule "local/counsel-tabs"]
	path = local/counsel-tabs
	url = git@github.com:enzuru/counsel-tabs.git
[submodule "local/mu"]
	path = local/mu
	url = git@github.com:kensanata/mu.git
