[submodule "local/sunrise-commander"]
	path = local/sunrise-commander
	url = https://github.com/sunrise-commander/sunrise-commander.git
[submodule "local/exwm"]
	path = local/exwm
	url = git@github.com:ch11ng/exwm.git
[submodule "local/xelb"]
	path = local/xelb
	url = git@github.com:ch11ng/xelb.git
[submodule "local/omtose-phellack-theme"]
	path = local/omtose-phellack-theme
	url = git@github.com:franksn/omtose-phellack-theme.git
